In [1]:
from sklearn import datasets

wine_bunch = datasets.load_wine()
wine_bunch.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [2]:
wine_bunch['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [3]:
wine_bunch['target_names']

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [4]:
FEATURES = wine_bunch['feature_names']
TARGET = 'species'

FEATURES, TARGET

(['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline'],
 'species')

In [5]:
import pandas as pd

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

wine_df.sample(10)

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  species
124    11.87        4.31  2.39  ...                          3.64    380.0        1
100    12.08        2.08  1.70  ...                          2.96    710.0        1
20     14.06        1.63  2.28  ...                          3.71    780.0        0
134    12.51        1.24  2.25  ...                          1.51    650.0        2
175    13.27        4.28  2.26  ...                          1.56    835.0        2
43     13.24        3.98  2.29  ...                          3.00    680.0        0
129    12.04        4.30  2.38  ...                          2.57    580.0        1
82     12.08        1.13  2.51  ...                          2.72    630.0        1
33     13.76        1.53  2.70  ...                          3.00   1235.0        0
105    12.42        2.55  2.27  ...                          3.30    315.0        1

[10 rows x 14 columns]

In [6]:
wine_df.describe()

          alcohol  malic_acid  ...      proline     species
count  178.000000  178.000000  ...   178.000000  178.000000
mean    13.000618    2.336348  ...   746.893258    0.938202
std      0.811827    1.117146  ...   314.907474    0.775035
min     11.030000    0.740000  ...   278.000000    0.000000
25%     12.362500    1.602500  ...   500.500000    0.000000
50%     13.050000    1.865000  ...   673.500000    1.000000
75%     13.677500    3.082500  ...   985.000000    2.000000
max     14.830000    5.800000  ...  1680.000000    2.000000

[8 rows x 14 columns]

In [7]:
wine_df.groupby(TARGET).agg('count')

         alcohol  malic_acid  ash  ...  hue  od280/od315_of_diluted_wines  proline
species                            ...
0             59          59   59  ...   59                            59       59
1             71          71   71  ...   71                            71       71
2             48          48   48  ...   48                            48       48

[3 rows x 13 columns]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET],
    test_size=0.1,
    random_state=45)

y_train.groupby(y_train).count()

species
0    54
1    62
2    44
Name: species, dtype: int64

In [9]:
y_test.groupby(y_test).count()

species
0    5
1    9
2    4
Name: species, dtype: int64

In [10]:
# Your Code Goes Here
X_train, X_test, y_train, y_test = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET],
    test_size=0.2,
    stratify=wine_df[TARGET])

print(y_train.groupby(y_train).count())
print(y_test.groupby(y_test).count())

species
0    47
1    57
2    38
Name: species, dtype: int64
species
0    12
1    14
2    10
Name: species, dtype: int64

In [11]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import cross_val_score

estimator = SGDClassifier()

scores = cross_val_score(
    estimator,
    X_train,
    y_train,
    cv=5
)

scores

array([0.62068966, 0.68965517, 0.5       , 0.67857143, 0.57142857])

In [12]:
scores.mean()

0.6120689655172413

In [13]:
# Your Code Goes here
import pandas as pd

from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

wine_bunch = datasets.load_wine()
wine_bunch.keys()

FEATURES = wine_bunch['feature_names']
TARGET = 'species'

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

X_train, X_test, y_train, y_test = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET], 
    test_size=0.1,
    stratify=wine_df[TARGET])

# Solution Starts Here

estimator = SGDClassifier()

scores = cross_val_score(
    estimator,
    X_train[FEATURES],
    y_train,
    cv=5,
    scoring=make_scorer(f1_score, average='micro')
)


scores.mean()

0.5875

In [14]:
X_validation = X_test
y_validation = y_test

In [15]:
wine_df[FEATURES].describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean    13.000618    2.336348  ...                      2.611685   746.893258
std      0.811827    1.117146  ...                      0.709990   314.907474
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.362500    1.602500  ...                      1.937500   500.500000
50%     13.050000    1.865000  ...                      2.780000   673.500000
75%     13.677500    3.082500  ...                      3.170000   985.000000
max     14.830000    5.800000  ...                      4.000000  1680.000000

[8 rows x 13 columns]

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(wine_df[FEATURES])

pd.DataFrame(
    scaler.transform(wine_df[FEATURES]),
    columns=FEATURES
).describe()

            alcohol    malic_acid  ...  od280/od315_of_diluted_wines       proline
count  1.780000e+02  1.780000e+02  ...                  1.780000e+02  1.780000e+02
mean   7.841418e-15  2.444986e-16  ...                  2.126888e-15 -6.985673e-17
std    1.002821e+00  1.002821e+00  ...                  1.002821e+00  1.002821e+00
min   -2.434235e+00 -1.432983e+00  ...                 -1.895054e+00 -1.493188e+00
25%   -7.882448e-01 -6.587486e-01  ...                 -9.522483e-01 -7.846378e-01
50%    6.099988e-02 -4.231120e-01  ...                  2.377348e-01 -2.337204e-01
75%    8.361286e-01  6.697929e-01  ...                  7.885875e-01  7.582494e-01
max    2.259772e+00  3.109192e+00  ...                  1.960915e+00  2.971473e+00

[8 rows x 13 columns]

In [17]:
from sklearn.pipeline import Pipeline

estimator = Pipeline(
  steps=[
    ['scale', StandardScaler()],
    ['classifier', SGDClassifier()],
  ]
)

scores = cross_val_score(
    estimator,
    X_train[FEATURES],
    y_train,
    cv=5,
)

scores.mean()

0.9875

In [18]:
# Your Code Goes Here
import pandas as pd

from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

wine_bunch = datasets.load_wine()
wine_bunch.keys()

FEATURES = wine_bunch['feature_names']
TARGET = 'species'

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

X_train, X_validation, y_train, y_validation = train_test_split(
    wine_df[FEATURES],
    wine_df[TARGET], 
    test_size=0.1,
    stratify=wine_df[TARGET])

estimator = Pipeline(
  steps=[
    ['scale', StandardScaler()],
    ['classifier', SGDClassifier()],
  ]
)

scores = cross_val_score(
    estimator,
    X_train[FEATURES],
    y_train,
    cv=5,
    # We calculated F1 here too. This isn't required.
    scoring=make_scorer(f1_score, average='micro')
)

# Solution Starts Here
estimator.fit(X_train, y_train)
predictions = estimator.predict(X_validation)
f1_score(y_validation, predictions, average='micro')

0.8888888888888888

In [19]:
#importing confusion matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_validation, predictions)
print('Confusion Matrix\n')
print(confusion)

#importing accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('\nAccuracy: {:.2f}\n'.format(accuracy_score(y_validation, predictions)))

print('Micro Precision: {:.2f}'.format(precision_score(y_validation, predictions, average='micro')))
print('Micro Recall: {:.2f}'.format(recall_score(y_validation, predictions, average='micro')))
print('Micro F1-score: {:.2f}\n'.format(f1_score(y_validation, predictions, average='micro')))

print('Macro Precision: {:.2f}'.format(precision_score(y_validation, predictions, average='macro')))
print('Macro Recall: {:.2f}'.format(recall_score(y_validation, predictions, average='macro')))
print('Macro F1-score: {:.2f}\n'.format(f1_score(y_validation, predictions, average='macro')))

print('Weighted Precision: {:.2f}'.format(precision_score(y_validation, predictions, average='weighted')))
print('Weighted Recall: {:.2f}'.format(recall_score(y_validation, predictions, average='weighted')))
print('Weighted F1-score: {:.2f}'.format(f1_score(y_validation, predictions, average='weighted')))

from sklearn.metrics import classification_report
print('\nClassification Report\n')
print(classification_report(y_validation, predictions, target_names=['Class 1', 'Class 2', 'Class 3']))

Confusion Matrix

[[5 1 0]
 [0 6 1]
 [0 0 5]]

Accuracy: 0.89

Micro Precision: 0.89
Micro Recall: 0.89
Micro F1-score: 0.89

Macro Precision: 0.90
Macro Recall: 0.90
Macro F1-score: 0.89

Weighted Precision: 0.90
Weighted Recall: 0.89
Weighted F1-score: 0.89

Classification Report

              precision    recall  f1-score   support

     Class 1       1.00      0.83      0.91         6
     Class 2       0.86      0.86      0.86         7
     Class 3       0.83      1.00      0.91         5

    accuracy                           0.89        18
   macro avg       0.90      0.90      0.89        18
weighted avg       0.90      0.89      0.89        18

In [20]:
# Your Code Goes Here
import pandas as pd

from sklearn import datasets
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

wine_bunch = datasets.load_wine()
wine_bunch.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [21]:
FEATURES = wine_bunch['feature_names']
TARGET = 'species'

wine_df = pd.DataFrame(wine_bunch['data'], columns=FEATURES)
wine_df[TARGET] = wine_bunch['target']

In [22]:
wine_df.head(10)

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  species
0    14.23        1.71  2.43  ...                          3.92   1065.0        0
1    13.20        1.78  2.14  ...                          3.40   1050.0        0
2    13.16        2.36  2.67  ...                          3.17   1185.0        0
3    14.37        1.95  2.50  ...                          3.45   1480.0        0
4    13.24        2.59  2.87  ...                          2.93    735.0        0
5    14.20        1.76  2.45  ...                          2.85   1450.0        0
6    14.39        1.87  2.45  ...                          3.58   1290.0        0
7    14.06        2.15  2.61  ...                          3.58   1295.0        0
8    14.83        1.64  2.17  ...                          2.85   1045.0        0
9    13.86        1.35  2.27  ...                          3.55   1045.0        0

[10 rows x 14 columns]